@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');



$sans-serif: 'Raleway', sans-serif;
$font-light: 300;
$font-bold: 700;

$black: #353535;
$gray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #f96855;

$accent: $orange;

$body-background: $black;
$menu-background: $gray;
$main-font-color: $light-gray;
$menu-active-color: $light-gray;
$menu-font-color: $medium-gray;
$link-color: $accent;


* {
    box-sizing: border-box;
}

body {
    background: $body-background;
    color: $main-font-color;
    font-family: $sans-serif;
    font-size: 1.2em;
    line-height: 1.45;
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    background: $menu-background;
    flex: 1 1 20%;
    min-width: 300px;
    padding: 3em;
}

.logo {
    text-transform: uppercase;
    margin-bottom: 2em;
    @media(min-width: 1500px) {

    }
    span {
        font-weight: $font-bold;
    }
}

.nav-item {
    color: $menu-font-color;
    text-decoration: none;
    font-size: 1.7em;
    display: inline-block;
    margin-right: 2em;
    @media(min-width: 1500px) {
        display: block;
        margin: 7vh 0;
    }
    &.active {
        color: $menu-active-color;
    }
}

.main-content {
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
}

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.portfolio-item {
    background: $accent;
    color: $body-background;
    font-weight: $font-bold;
    display: flex;
    justify-content: center;
    align-items: center;

    &.small {
        grid-row: span 1;
        grid-column: span 1;
    }

    &.medium {
        grid-row: span 2;
        grid-column: span 2;
    }

    &.large {
        grid-row: span 3;
        grid-column: span 3;
    }

    &.tall {
        grid-row: span 3;
        grid-column: span 2;
    }

    &.wide {
        grid-row: span 2;
        grid-column: span 3;
    }

}

.two {
    background-image: url(https://images.unsplash.com/photo-1525869916826-972885c91c1e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60https://images.unsplash.com/photo-1599948058230-78896e742f7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=974&q=80);
    background-color: black;
    background-size: cover;
    background-position: bottom center;
    //background-blend-mode: lighten;
    color: white;
    transition: all ease-in-out 500ms;

    &:hover {
        background-blend-mode: initial;
        background-position: center;
        z-index: 10;
    }
}

.mike {
    background-image: url(https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHB1cHB5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-color: white;
    background-position: bottom top;
    color: white;
    background-size: cover;
}

.dave {
    background-image: url(https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8a2l0dGVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-color: black;
    background-size: cover;
    color: white;
    background-position: bottom center;

    &:hover {
        background-position: center;
        transition: all ease-in-out 500ms;
    }
}

.sally {
    background-image: url(https://images.unsplash.com/photo-1424291714008-af2fb994f4c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHJhY29vbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
    background-color: black;
    color:white;
    background-position: bottom;
    background-size: cover;

}

.johnny {
    background-image: url(https://images.unsplash.com/photo-1582949663569-4ae9faa3d4b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGthbmdhcm9vfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-color: black;
    background-position: bottom center;
    background-size: cover;
    color: white;
}

.alice {
    background-image: url(https://images.unsplash.com/photo-1505783495551-523774fe88b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGZveHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
    background-color: black;
    background-size: cover;
    background-position: bottom top;
    color: white;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    

    &:hover {
        background-position: center 18%;
        transition: all ease-in-out 500ms;
        
        -webkit-transform:translateY(-10px); 
        
    }
}


